@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", "sans-serif";
  --font-serif: "Cinzel", "serif";
}

.slide img {
  height: 80vh;
  object-fit: cover;
}

.thumbs-wrapper{
  display: flex;
  place-content: center;
}